.img-test {
	vertical-align: middle;
	margin: auto;
	background: url('http://placehold.it/1600x650&text=[Slide1]');
	color: red;
	width: 960px;
	height: 600px;
}

.slide-button {
	position: relative;
	margin-top: -13%;
}
