.navbar1{
	background-color: white;
	height: 10%;
}

.navstyle {
  margin-top: 0.5%;
}
.brand1{
  padding-right: 20px;
  line-height: normal;
}

.img1 {
  background-repeat:no-repeat;
  background-size:contain;
 }