@font-face {
  font-family:"VAGRoundedStd-Thin";
  src: url("../fonts/VAGRoundedStd-Thin.otf") /* TTF file for CSS3 browsers */
}

@font-face {
  font-family:"VAGRoundedStd-Light";
  src: url("../fonts/VAGRoundedStd-Light.otf") /* TTF file for CSS3 browsers */
}

@font-face {
  font-family:"VAGRounded";
  src: url("../fonts/VAGRounded.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
  font-family:"VAGRoundedStd-Black";
  src: url("../fonts/VAGRoundedStd-Black.otf") /* TTF file for CSS3 browsers */
}


body {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*font-family: 'Open Sans', cursive;*/
  font-size : 14px;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  font-weight: 600;
  background-color: #fafafa;
}

html {
  overflow-y: scroll;
}

a {
  color: #00B7FF;
}

.navbar-default .navbar-nav>li>a {
  font-family: "VAGRoundedStd-Light", sans-serif;
  font-size: 1.5em;
  line-height: 200%;
  /*color: #00B7FF;*/
  color: #4792cf;
}

.desc {
  font-family: "VAGRoundedStd-Light", sans-serif;
  font-size: 2em;
  line-height: 200%;
  /*color: #00B7FF;*/
  color: #4792cf;
}

.navbar-nav{
}

.navbar-default .navbar-nav>li>a:hover {
  color: #00B7FF;
}

.navbar-right {
  font-size: 1em;
}


.navbar-brand {
  line-height: 50px;
  padding-top: 1%;
  margin-bottom: 1%;
  font-size: 1.5em;
}

/*.navbar-default .navbar-nav>li>a:focus {*/
/*color: red;*/
/*}*/

/* Move this to AppShortCut Style */
.circle {
  position: relative;
  width: 128px;
  height: 128px;
  -webkit-border-radius: 128px;
  -moz-border-radius: 128px;
  border-radius: 128px;
  background: #4792cf;
  color:white;
  text-align: center;
}

.icon_title {
  display: inline-block;
  font-size: 4.5em;
  font-family:"VAGRoundedStd-Light", sans-serif;
  width:100%;
  margin-top: 23%;
  line-height: 0.8em;
}


.icon_text {
  display: inline-block;
  width: 100%;
  font-family:"VAGRoundedStd-Thin", sans-serif;
}

/* Move this to InfoTemp*/

.row h1 {
  font-family: VAGRoundedStd-Black, 'VAGRoundedStd-Black', Helvetica, sans-serif;
  color: #0b97c4;
  text-align: center;
}

.form-group {
  text-align: center;
}
/* Move to NavBarTop */


.app {
  display: flex;
  font-size: 2em;
}
.search {
  display: flex;
}
aside.primary-aside {
  width: 400px;
}

aside.primary-aside a.active {
  font-weight: bold;
}

main {
  flex: 1;
}

li > * {
  display: inline-block;
  width: 8em;
}
